body{
    margin: 0%;
    background-color: #00ffff;
    background-repeat: no-repeat;
    background-size: cover;

}
.nav{
    display: flex;
    flex-direction:row;
    background-color: whitesmoke;
    color: black;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
   
}


.nav2{
    position: relative;
    left: 100rem;
    top: 1.15rem;
    color: aliceblue;
    
    
}
.nag{
    background-color: azure;
    height: 30rem;
}
.nav2 a{
    margin:0 16px;
    margin-left: 0.5rem;
    position: relative;
    
}
#k{
    position: absolute;
    top: 570px;
   left: 750px;
   width: 700px;
   top: 520px;


    
}
.center {
    display: block;
    margin-left: 370px;
    margin-top: 220px;
    border-radius: 60%;
    width: 50%;
    width: 300px;
    height: 300px;
}
.v{
    color:black;
    text-align: center;
    font-size:50px; 
    background-color:#fefae0;
    
    
}
#id{
    color: aliceblue;
    text-align: center;
}
.sk{
    text-align: center;
    color: aliceblue;
    font-size: 29px;
    font-family: 'Times New Roman', Times, serif;
}
.icon1{
     font-size: 70px;
}